[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
version = "0.0.0"
edition = "2024"
license = "MIT"

[workspace.dependencies]
serde = "1"
serde_json = "1"
tokio = "1"
little-agent-model = { path = "crates/model" }
